.edge {
    background-color: white;
    margin: 0;
}
.yellowedge {
    background-color: #FFEB2E;
    margin: 0;
}
.blueedge {
    background-color: #45FBF3;
}
.rededge {
    background-color: #FF84CB;
    margin: 0;
}