.scramble {
    position: absolute;
    width: 500px;
    height: 355px;
    text-align: center;
    letter-spacing: .1rem;
    z-index: 20;
    padding-top: 145px;
    background: rgba(228, 228, 228, 0.48);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
        
}
.text3 {
    margin: 0;
    color: #2A2A2A;
    font-size: 150px;
    font-weight: 150;
}
@media screen and (max-width: 520px) {
    .scramble {
        width: 280px;
        height: 200px;
        padding-top: 80px;
    }
    .text3 {
        margin: 0;
        color: #2A2A2A;
        font-size: 80px;
    }
  }