.scramble {
    position: absolute;
    width: 500px;
    height: 355px;
    text-align: center;
    letter-spacing: .1rem;
    z-index: 20;
    padding-top: 145px;

    background: rgba(255, 255, 255, 0.497);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 20px );
        
}
.text3 {
    margin: 0;
    color: #2A2A2A;
    font-size: 150px;
    font-weight: 150;
}
@media screen and (max-width: 520px) {
    .scramble {
        width: 280px;
        height: 200px;
        padding-top: 80px;
    }
    .text3 {
        margin: 0;
        color: #2A2A2A;
        font-size: 80px;
    }
  }