.body {
  background-color: #2A2A2A;
  width: 100vw;
  height: 150vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gamecontainer {
  width: 500px;
}
@media screen and (max-width: 520px) {
  .gamecontainer {
    width: 280px;
  }
}

