.body {
  background-color: #2A2A2A;
  width: 100vw;
  height: 120vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 500px) {
  .gamecontainer {
    width: 280px;
  }
}
.gamecontainer {
  width: 500px;
}
